flask
slack-bolt
slack-sdk
gspread
google-auth
openai
requests
pinecone
gunicorn
pymupdf
Pillow
google-cloud-firestore
flask-cors
google-api-python-client
docxtpl
pandas
openpyxl
python-docx
google-cloud-tasks